{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Formulario Mobike</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'css/estiloFormulario.css' %}" >
	<link href="https://file.myfontastic.com/G2UB8YrHPjmKdP9QY4RZ5K/icons.css" rel="stylesheet">
</head>
<body>
	<header class="header">
		<div class="contenedor">
			<h1 class="logo">Mobike</h1>
			<span class="icon-menu" id="btn-menu"></span>
			<nav class="nav" id="nav">
				<ul class="menu">
						<li class="menu__item"><a class="menu__link" href="{% url 'index' %}"> Inicio</a></li>
						<li class="menu__item"><a class="menu__link" href="{% url 'login' %}"> Login</a></li>
						<li class="menu__item"><a class="menu__link" href=""> Que Somos</a></li>
						<li class="menu__item"><a class="menu__link select" href="{% url 'formulario' %}"> Registro Usuario</a></li>
						<li class="menu__item"><a class="menu__link" href="{% url 'arrendarMapa' %}"> Arrendar</a></li>
						<li class="menu__item"><a class="menu__link" href="{% url 'formuMantenimiento' %}"> Mantencion</a></li>
					</ul>
			</nav>
		</div>
	</header>
	<div class="banner">
		<img src="{% static 'Imagenes/Imagen3.jpg' %}" alt="" class="banner__img">
		<div class="contenedor2">
			<h2 class="banner__titulo">El mejor medio de trasporte</h2>
			<p class="banner__txt">Unetenemos y ayuda al medio ambiente</p>
		</div>
	</div>
	<div class="Formulario">
			<form action="" name="formulario_registro" method="POST">{%csrf_token%}
				<h2>Registro</h2>
				<input type="text" name="PNombre" placeholder="Primer Nombre">
				<input type="text" name="SNombre" placeholder="Segundo Nombre">
				<input type="text" name="PApellido" placeholder="Apellido Paterno">
				<input type="text" name="SApellido" placeholder="Apellido Materno">
				<input type="number" name="Run" placeholder="Run">
				<input type="text" name="BD" placeholder="Dijito Rut">
				<input type="number" name="Telefono" placeholder="Telefono">
				<input type="text" name="Direccion" placeholder="Direccion">
				<input type="text" name="Comuna" placeholder="Comuna">
				<input type="text" name="Usuario" placeholder="Usuario Para Logearse">
				<input type="password" name="Contraseña" placeholder="Contraseña">
				<input type="email" name="Correo" placeholder="Correo">
				<input type="text" name="UbiTrabajo" placeholder="Direccion trabajo">
				<input type="number" name="NumBanco" placeholder="Numero de trajeta bancaria">
				<input type="text" name="TipoBanco" placeholder="Tipo Banco">
				<input type="submit" name="" value="Registrar">
			</form>
		</div>
	<footer class="footer">
		<div class="social">
			<a href="" class="icon-facebook"></a>
			<a href="" class="icon-twitter"></a>
			<a href="" class="icon-gplus"></a>
			<a href="" class="icon-instagram"></a>
		</div>
		<p class="copy">&copy; Ivan Jara y Alex Sanchez</p>
	</footer>
	<script src="{% static 'js/menu.js'%}"></script>
</body>
</html>